/*
Template Name: Admin Press Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
/*
Template Name: Admin Press Admin
Author: Themedesigner
Email: niravjoshi87@gmail.com
File: scss
*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700");
/*Theme Colors*/
/*bootstrap Color*/
/*Light colors*/
/*Normal Color*/
/*Extra Variable*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}

.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}

/*******************
/*Top bar
*******************/
.topbar {
  background: #ffffff;
}

.topbar .navbar-header {
  background: #ffffff;
  padding-top: 0px;
  padding-bottom: 0px;
}

.page-titles {
  background: #ababab;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 2%;
}
/*color de fondo del cuerpo del sistema*/
/*.page-wrapper {
  background: #dadbdd;
}*/

.nomina-menu {
  background: #666666;
  text-align: left;
  padding-left: 8px;
  padding-top: 5px;
  padding-bottom: 3px;
}

.item-desktop {
  background: #eebb12;
  width: 100%;
  height: 100%;
  margin: 0%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.footer {
  color: #ffffff;
  background: #666666;
}

.prof {
  padding: 12px;
}

.topbar .top-navbar .navbar-header .navbar-brand .light-logo {
  display: none;
  color: rgba(255, 255, 255, 0.8);
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link {
  color: #ffffff !important;
}

.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:hover,
.topbar .navbar-light .navbar-nav .nav-item > a.nav-link:focus {
  color: rgba(255, 255, 255, 0.8) !important;
}

/*******************
/*General Elements
*******************/
a.link:hover,
a.link:focus {
  color: #2f3d4a !important;
}

.bg-theme {
  background-color: #2f3d4a !important;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: #2f3d4a;
  border-color: #2f3d4a;
}

.right-sidebar .rpanel-title {
  background: #2f3d4a;
}

.stylish-table tbody tr:hover,
.stylish-table tbody tr.active {
  border-left: 4px solid #2f3d4a;
}

.text-themecolor {
  color: #2f3d4a !important;
}

.profile-tab li a.nav-link.active,
.customtab li a.nav-link.active {
  border-bottom: 2px solid #2f3d4a;
  color: #2f3d4a;
}

.profile-tab li a.nav-link:hover,
.customtab li a.nav-link:hover {
  color: #2f3d4a;
}

/*******************
/*Buttons
*******************/
.btn-themecolor,
.btn-themecolor.disabled {
  background: #2f3d4a;
  color: #ffffff;
  border: 1px solid #2f3d4a;
}

.btn-themecolor:hover,
.btn-themecolor.disabled:hover {
  background: #2f3d4a;
  opacity: 0.7;
  border: 1px solid #2f3d4a;
}

.btn-themecolor.active,
.btn-themecolor:focus,
.btn-themecolor.disabled.active,
.btn-themecolor.disabled:focus {
  background: #ffb22b;
}

/*******************
/*sidebar navigation
*******************/

.sidebar-nav ul li a {
  color: #595e63;
  padding: 8px 35px 8px 15px;
  display: block;
  font-size: 14px;
  font-weight: 500;
}

.label-themecolor {
  background: #2f3d4a;
}

.sidebar-nav > ul > li.active > a {
  color: #2f3d4a;
  border-color: #2f3d4a;
}

.sidebar-nav > ul > li.active > a i {
  color: #2f3d4a;
}

.sidebar-nav ul li a.active,
.sidebar-nav ul li a:hover {
  color: #2f3d4a;
  border-color: #171a1d;
}

.sidebar-nav ul li a.active i,
.sidebar-nav ul li a:hover i {
  color: #2f3d4a;
  border-color: #171a1d;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #ffffff !important;
  border: 1px solid #ffb22b;
  background-color: #ffb22b;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white;
  border: 1px solid #ffb22b;
  background-color: #ffb22b;
}

.table td,
.table th {
  padding: 0.55rem;
  font-weight: 500;
}

.card-top {
  background: #ddeb1977;
  width: 100%;
  height: 35%;
}

.text-muted {
  color: #99abb4 !important;
  font-weight: 500;
}

.btn-amber {
  background: #ffc107;
  color: #ffffff;
  box-shadow: 0 14px 26px -12px rgba(248, 194, 0, 0.42),
    0 4px 23px 0 rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(248, 194, 0, 0.2);
  border: 1px solid #ffc107;
}

.page-item.active .page-link {
  z-index: 2;
  color: #fff;
  background-color: #ff6f00;
  border-color: #ff6f00;
}

.orange {
  border: 0;
  border-right-color: currentcolor;
  border-left-color: currentcolor;
  border-radius: 0.25em;
  background: initial;
  background-color: initial;
  background-color: #ff6f00;
  color: #fff;
  font-size: 1.0625em;
}

.customSwalBtn {
  background-color: rgba(214, 130, 47, 1);
  border-left-color: rgba(214, 130, 47, 1);
  border-right-color: rgba(214, 130, 47, 1);
  border: 0;
  border-radius: 3px;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 30px 5px 0px 5px;
  padding: 10px 32px;
}
